@tailwind base;
@tailwind components;
@tailwind utilities;
  
  .borderGradient{
    max-width: 1200px;
    padding: 1rem;
    position: relative;
    background: linear-gradient(to right, #58D7FC, #F8FFA3);
    border-radius: 12px;
    padding: 3px;
  }
  
  .innerBorder {
    border-radius: 12px;
    background: black;
    color: white;
    padding: 2rem;
  }
  
  #error-message {
    color: rgb(255, 0, 119);
    font-weight: bold;
    margin-top: 10px;
  }